.font-default--family{
    font-family: Arial, Helvetica, sans-serif;
}

.font-default--size{
    font-size: 16px;
}

.fw-300{
    font-weight: 300;
}

.fw-400{
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-700{
    font-weight: 700;
}

.fs-12{
    font-size: 12px;
}

.fs-16{
    font-size: 16px;
}

.fs-20{
    font-size: 20px;
}

.fs-26{
    font-size: 26px;
}

.fs-32{
    font-size: 32px;
}